/*!
 * Author: Dachi — https://github.com/dachinat
 * License: CC BY 4.0 — https://creativecommons.org/licenses/by/4.0/
 * Repo: https://github.com/dachinat/daisyui-themes
 */

@plugin "daisyui/theme" {
    name: "catppuccin";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: #181825;
    --color-base-200: #1e1e2e;
    --color-base-300: #313244;
    --color-base-content: #cdd6f4;
    --color-primary: #89b4fa;
    --color-primary-content: #11111b;
    --color-secondary: #cba6f7;
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: #f5c2e7;
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: #74c7ec;
    --color-neutral-content: #1e1e2e;
    --color-info: #94e2d5;
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: #a6e3a1;
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: #f9e2af;
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: rgb(219 75 75);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 0;
    --noise: 0;
}
