/*!
 * Author: Dachi — https://github.com/dachinat
 * License: CC BY 4.0 — https://creativecommons.org/licenses/by/4.0/
 * Repo: https://github.com/dachinat/daisyui-themes
 */

@plugin "daisyui/theme" {
  name: "githublight";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #e7e9ec;
  --color-base-200: #dadee3;
  --color-base-300: #c1c8cf;
  --color-base-content: #292f36;
  --color-primary: #1067ce;
  --color-primary-content: #e7e9ed;
  --color-secondary: #7b4ed1;
  --color-secondary-content: oklch(29% 0.066 243.157);
  --color-accent: #da6147;
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: #2f9b4f;
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: #52a3ee;
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: #2f9b4f;
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: #d9b84f;
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: #eb7a7c;
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
