/*!
 * Author: Dachi — https://github.com/dachinat
 * License: CC BY 4.0 — https://creativecommons.org/licenses/by/4.0/
 * Repo: https://github.com/dachinat/daisyui-themes
 */

@plugin "daisyui/theme" {
    name: "kanagawa";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: #191823;
    --color-base-200: #22212f;
    --color-base-300: #22212f;
    --color-base-content: #b5b0a0;
    --color-primary: #7a92cc;
    --color-primary-content: oklch(29% 0.149 302.717);
    --color-secondary: #bbb591;
    --color-secondary-content: oklch(12% 0.042 264.695);
    --color-accent: #728a69;
    --color-accent-content: oklch(27% 0.077 45.635);
    --color-neutral: #201f30;
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: #9178b0;
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: #678c86;
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: #b5996e;
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: #d02a2f;
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 1rem;
    --radius-field: 2rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 1;
    --noise: 0;
}
