/*!
 * Author: Dachi — https://github.com/dachinat
 * License: CC BY 4.0 — https://creativecommons.org/licenses/by/4.0/
 * Repo: https://github.com/dachinat/daisyui-themes
 */

@plugin "daisyui/theme" {
    name: "nightfox";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(21% 0.006 285.885);
    --color-base-200: #393946;
    --color-base-300: #2d3241;
    --color-base-content: #bebfc5;
    --color-primary: #6e91ca;
    --color-primary-content: oklch(27% 0.072 132.109);
    --color-secondary: #9572ca;
    --color-secondary-content: oklch(28% 0.066 53.813);
    --color-accent: #62bfc4;
    --color-accent-content: oklch(30% 0.056 229.695);
    --color-neutral: oklch(21% 0.034 264.665);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: #5dbbc0;
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: #7ba593;
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: #d0b373;
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: #bb4b6a;
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}
